@import "tailwindcss";

:root {
  --text-color: #0000000%, 0%;
  --border-color: #00000080;
  --surface-color: #00000008;
  --surface-color-hover: #00000004;
  --highlight-color: #00000018;
  --toggle-handle-color: #FFFFFF;
}


@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #FFFFFF;
    --border-color: #ffffff80;
    --surface-color: #ffffff18;
    --surface-hover-color: #ffffff08;
    --highlight-color: #ffffff33;
  }
}

@layer utilities {
  .text-md {
    @apply text-[16px] leading-6
  }

  .text-sm {
    @apply text-[14px] leading-6
  }
}