# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
**/build/
coverage/

# Android Studio / Gradle
.gradle/
**/android/.gradle/
**/android/.kotlin/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
android/app/debug
android/app/profile
android/app/release
gradle-wrapper.jar
gradlew
gradlew.bat
local.properties
.cxx/
key.properties
**/*.keystore
**/*.jks

# iOS / macOS / Linux / Windows ephemeral & generated
**/ephemeral/
**/Generated.xcconfig
**/flutter_export_environment.sh
**/GeneratedPluginRegistrant.*
