@import "tailwindcss";

:root {
  --text-color: rgb(0, 0, 0);
  --border-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.1);
  --surface-color-hover: rgba(0, 0, 0, 0.05);
  --highlight-color: rgba(0, 0, 0, 0.2);
  --toggle-handle-color: rgb(255, 255, 255);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: rgb(255, 255, 255);
    --border-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.1);
    --surface-color-hover: rgba(255, 255, 255, 0.05);
    --highlight-color: rgba(255, 255, 255, 0.2);
  }
}

@layer utilities {
  .text-md {
    @apply text-[16px] leading-6 font-medium
  }

  .text-sm {
    @apply text-[14px] leading-6
  }
}